.card {
    margin: 20px;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.card:hover {
    opacity: 0.8;
}
.top{
    display: flex;
}
.top .image img {
    display: inline;
    height: 60px;
    width: 60px;
    border-radius: 10px;
}
.top .name {
    display: inline;
    font-size: 12px;
}


